<div class="container">
  <div class="brand-logo"></div>
  <div class="brand-title">BLU<span style="color: #4eb9cb">LOGIX</span></div>

  <form class="inputs" (ngSubmit)="signIn(SignIn.value)" #SignIn="ngForm" >
    <br />
    <label for="email">Email</label>
    <input #email id="email"   ngModel name="email" type="email" />
    <br />
    <label for="password">Password</label>
    <input id="password"   ngModel name="password" type="password" />
    <br />
    <button class="btn btn-primary" type="submit"  >Sign-In</button>
  </form>
<div>
  <p >{{msg}}</p>
  <a href="/signup">Not registered? Create an account</a>
</div>
</div>


