<div class="container">
  <div class="title">Login</div>

  <form (submit)="signIn()" [formGroup]="registerForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        [ngClass]="{
          'is-invalid': registerForm.controls['email'].touched && registerForm.controls['email'].errors
        }"
        formControlName="email"
        class="form-control"
        id="email"
        type="email"
      />

      <div
        *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors"
        class="text-danger"
      >
        <div
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors['required']"
        >
          Email Address is required
        </div>
        <div
          *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].errors['email']"
        >
          Email Address is not Valid
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="password">Password</label>
      <input
        [ngClass]="{
          'is-invalid': registerForm.controls['password'].touched && registerForm.controls['password'].errors
        }"
        formControlName="password"
        class="form-control"
        id="password"
        type="password"
      />

      <div
        *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].errors"
        class="text-danger"
      >
        <div
          *ngIf="
          registerForm.controls['password'].touched && registerForm.controls['password'].errors['required']
          "
        >
          Password is required
        </div>
        <div
          *ngIf="
          registerForm.controls['password'].touched && registerForm.controls['password'].errors['minlength']
          "
        >
          Password should be at least 6 characters
        </div>
      </div>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Sign-In</button>
  </form>
  <br />
  <div>
    <p style="color: red">{{ msg }}</p>
    <a href="/signup">Not registered yet? Create an account!</a>
  </div>
</div>
