<div class="container">
  <div class="title">Login</div>

  <form (ngSubmit)="signIn(SignIn.value)" #SignIn="ngForm">
    <br />
    <label for="email" required>Email</label>
    <input
      class="form-control test"
      #email
      id="email"
      ngModel
      name="email"
      type="email"
    />
    <br />
    <label for="password">Password</label>
    <input
      class="form-control test"
      id="password"
      ngModel
      name="password"
      type="password"
    />
    <br />
    <button class="btn btn-primary" type="submit">Sign-In</button>
  </form>
  <br />
  <div>
    <p style="color: red">{{ msg }}</p>
    <a href="/signup">Not registered yet? Create an account!</a>
  </div>
</div>
