<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item">
      <a (click)="filter('')">
        <img
          src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100"
          alt=""
        />
        <h6>All products</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('computer')">
        <img
          src="https://m.media-amazon.com/images/I/71tc7Nl6VKS.__AC_SX300_SY300_QL70_FMwebp_.jpg"
          alt=""
        />
        <h6>computer</h6>
      </a>
    </div>
    <div class="item">
      <a (click)="filter('tablet')">
        <img
          src="https://y-store-media-smartbuy.s3.amazonaws.com/sys-smartbuyb2c/images/h6a/h52/8861312876574/CAV0823ST0003.jpg"
          alt=""
        />
        <h6>Tablet</h6>
      </a>
    </div>

    <div class="item">
      <a (click)="filter('phone')">
        <img
          style="width: 62px; margin-top: 5px"
          src="https://cdn.shopify.com/s/files/1/0385/8490/9956/products/huawei_nova_9_128gb_8gb_black_600x600.jpg?v=1642676730"
          alt=""
        />
        <h6>Phone</h6>
      </a>
    </div>
  </div>
</div>

<div class="wrapper">
  <button
    style="float: right; margin: 15px; border-radius: 50%"
    class="btn btn-dark"
    (click)="openDialog('0ms', '0ms')"
    *ngIf="role == 1"
  >
    <i class="fa fa-plus"></i>
  </button>
  <div class="tooltip">You can add Your Product here</div>
</div>
<div class="container">
  <div class="row">
    <ng-container
      *ngFor="
        let item of filterCategory | filter : searchKey : 'title';
        let i = index
      "
    >
      <div class="card fix-gaps col-md-3">
        <img src="{{ item.image }}" alt="" />
        <div class="detail">
          <h5
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              max-width: 100ch;
            "
          >
            {{ item.title }}
          </h5>

          <p><strong>Price:</strong> ${{ item.price }}</p>
        </div>
        <div class="cart-btn">
          <div>
            <button
              *ngIf="role != 1"
              (click)="item.counter = item.counter + 1"
              class="btn"
            >
              <i class="fa fa-plus"></i>
            </button>

            <input
              style="width: 50px; align-items: center; text-align: center"
              *ngIf="role != 1"
              class="input-cas"
              [(ngModel)]="item.counter"
              onKeyDown="return false"
              min="1"
            />
            <button
              class="btn"
              *ngIf="role != 1"
              (click)="decreaseValue(item.counter, i)"
            >
              <i class="fa fa-minus"></i>
            </button>
          </div>

          <button
            *ngIf="role != 1"
            class="btn btn-dark"
            (click)="addToCard(item.productID, item.counter)"
          >
            Add to Cart
          </button>
        </div>

        <div class="product-btn" *ngIf="role == 1 && userId == item.SellerId">
          <button
            (click)="deleteDialog(item.productID, item.title)"
            class="btn"
            style="color: red"
          >
            <i class="fa fa-trash"></i>
          </button>
          <button
            (click)="
              editDialog(
                item.productID,
                item.title,
                item.price,
                item.image,
                item.category
              )
            "
            class="btn"
          >
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
