<div class="cart_container">
  <div class="cartProducts">
    <div class="cart-item" *ngFor="let product of cartProducts">
      <img class="cart-img" src="{{ product.image }}" />
      <br />
      <div class="cart-details">
        <p>{{ product.title }}</p>

        <p>{{ product.price | currency }}</p>
      </div>

      <div class="addToCart">
        <button class="btn"  (click)="addToCard(product.productId)"><i class="fa fa-plus"></i></button>
        <p>{{ product.quantity }}</p>
        <button class="btn" (click)="removeFromCard(product.productId)">
          <i class="fa fa-minus"></i>
        </button>
      </div>
    </div>
  </div>

  <h2>Subtotal :{{ subtotal }}</h2>
  <button class="btn btn-primary" routerLink="/order">Check Out</button>
</div>
