body{
 background-image: url("../assets/3955595.jpg");
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
//  background-color: black;
width: 100%;
height: 200vh;

 }

