.my-container{
 background-image: url("../assets/3955595.jpg");
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover;
 }
