<div class="container-header d-flex">
  <h1 mat-dialog-title>Add New Product</h1>
  <div mat-dialog-actions>
    <button
      mat-button
      mat-dialog-close
      class="btn"
      style="background-color: red; color: white"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<div class="addProduct" mat-dialog-content>
  <form class="form-add" (submit)="addNewProduct()" [formGroup]="registerForm">
    <br />
    <div class="form-group">
      <input
        class="form-control"
        id="title"
        name="title"
        type="text"
        style="border-radius: 5px"
        placeholder="Title"
        [ngClass]="{
          'is-invalid':
            registerForm.controls['title'].touched &&
            registerForm.controls['title'].errors
        }"
        formControlName="title"
      />

      <div
        *ngIf="
          registerForm.controls['title'].touched &&
          registerForm.controls['title'].errors
        "
        class="text-danger"
      >
        <div
          *ngIf="
            registerForm.controls['title'].touched &&
            registerForm.controls['title'].errors['required']
          "
        >
          Title is required
        </div>
      </div>
    </div>
    <br />

    <div class="form-group">
      <input
        class="form-control"
        id="price"
        name="price"
        type="number"
        style="border-radius: 5px"
        placeholder="Price"
        min="1"
        [ngClass]="{
          'is-invalid':
            registerForm.controls['price'].touched &&
            registerForm.controls['price'].errors
        }"
        formControlName="price"
      />

      <div
        *ngIf="
          registerForm.controls['price'].touched &&
          registerForm.controls['price'].errors
        "
        class="text-danger"
      >
        <div
          *ngIf="
            registerForm.controls['price'].touched &&
            registerForm.controls['price'].errors['required']
          "
        >
          Price is required
        </div>
      </div>
    </div>
    <br />

    <div class="form-group">
      <input
        class="form-control"
        id="image"
        name="image"
        type="text"
        style="border-radius: 5px"
        placeholder="image"
        [ngClass]="{
          'is-invalid':
            registerForm.controls['image'].touched &&
            registerForm.controls['image'].errors
        }"
        formControlName="image"
      />

      <div
        *ngIf="
          registerForm.controls['image'].touched &&
          registerForm.controls['image'].errors
        "
        class="text-danger"
      >
        <div
          *ngIf="
            registerForm.controls['image'].touched &&
            registerForm.controls['image'].errors['required']
          "
        >
          Image is required
        </div>
      </div>
    </div>
    <br />
    <div class="form-group">
      <label for="category">Choose a Category:</label>

      <select
        class="form-control"
        name="category"
        id="cars"
        ngModel
        formControlName="category"
        required
      >
        <option value="">Select Category</option>
        <option value="phone">Phone</option>
        <option value="computer">Computer</option>
        <option value="tablet">Tablet</option>
      </select>
      <div
        *ngIf="
          registerForm.controls['category'].touched &&
          registerForm.controls['category'].errors
        "
        class="text-danger"
      >
        <div
          *ngIf="
            registerForm.controls['category'].touched &&
            registerForm.controls['category'].errors
          "
        >
        Category is required
        </div>
      </div>
    </div>
    <br />
    <button class="btn btn-dark form-control"   type="submit" mat-button>
      confirm
    </button>

    <p style="color: red">{{ msg }}</p>
  </form>
  <br />
</div>
