

<div class="container">

  <button class="btn btn-primary"  (click)="openDialog()">+</button>

  <div class="products">
  <div class="item" *ngFor="let product of Products">
    <img src="{{ product.image }}" />
    <br />
    <p>{{ product.title }}</p>

    <p>{{ product.price }}</p>

    <div class="addToCart">
      <button class="btn btn-primary" (click)="addToCard(product.productID)">
        +</button
      >{{ counter }}
      <button class="btaddn btn-primary">-</button>
      <button class="btn btn-danger"  (click)="deleteDialog(product.productID)">X</button>
    </div>
  </div>
  </div>
</div>
