<div class="products_container">
  <button class="btn btn-primary" (click)="openDialog()" *ngIf="role == 1">
    +
  </button>

  <div class="products">
    <div class="product-item" *ngFor="let product of Products">
      <img class="product-img" src="{{ product.image }}" />
      <br />
      <div class="product-details">
        <p>{{ product.title }}</p>

        <p>{{ product.price | currency }}</p>
      </div>

      <div class="addToCart">
        <div class="product-btn" *ngIf="role == 2">
          <button

            (click)="addToCard(product.productID)"
          >
          Add to Cart</button
          > <input [(ngModel)]="amount" type="number" >
          {{amount}}
        </div>

        <div
          class="product-btn"
          *ngIf="role == 1 && userId == product.SellerId"
        >
          <button (click)="deleteDialog(product.productID)" class="btn">
            <i class="fa fa-trash"></i>
          </button>
          <button (click)="editDialog(product.productID)" class="btn">
            <i class="fa fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
