

<div class="container">

  <button class="btn btn-primary"  (click)="openDialog()" *ngIf="role ==1">+</button>

  <div class="products">
  <div class="item" *ngFor="let product of Products">
    <img src="{{ product.image }}" />
    <br />
    <p>{{ product.title }}</p>

    <p>{{ product.price }}</p>

    <div class="addToCart">
      <div *ngIf="role ==2">


      <button class="btn btn-primary" (click)="addToCard(product.productID)">+</button>{{ counter }}
      <button class="btaddn btn-primary" *ngIf="role ==2">-</button></div>

<div *ngIf="role ==1 && userId==product.SellerId">

      <button class="btn btn-danger"  (click)="deleteDialog(product.productID)"  >X</button>
      <button class="btn btn-primary"  (click)="editDialog(product.productID)" >edit</button></div>
    </div>
  </div>
  </div>
</div>
