.products_container {
  display: flex;
  flex-direction: column;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));

  justify-items: center;
  align-items: center;
}

.product-item {
  background-color: #f8f9fa;

  border: 2px solid #518de9d5;
  border-radius: 10px;
  display: flex;
  width: 30vh;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  background-color: #f0f0f0;
}

.product-img {
  margin: 10px auto;
  height: 12vh;
  width: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-weight: bold;
}

.product-btn {
  display: flex;
  flex-direction: row;
  margin: 2vh;
}

button {
  margin: 1vh;
}

.addToCart {
  display: flex;
  flex-direction: row;
}

.product-btn {
  display: flex;
  flex-direction: column;

}

.but-cas{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin:10px auto;
  height: 8vh;
  border-radius: 5px;
  font-size: medium;

}

.input-cas{
  height: 10vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: auto;

  border-radius: 5px;
}
