<div class="container-header d-flex ">
  <h1 mat-dialog-title>Order invoice</h1>
  <div mat-dialog-actions>

    <button
      mat-button
      mat-dialog-close
      class="btn"
      style="background-color: red; color: white"
    >
      <i class="fa fa-times"></i>
    </button>
  </div>
</div><ng-container>
  <div class="container">
    <div class="card-table">
<!--       <table class="table table-responsive">
        <thead>
          <tr>
            <th>Name</th>

            <th>Mobile number</th>
            <th>email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of user_details">
            <td>{{ item[0]["userName"] }}</td>
            <td>{{ item[0]["phone"] }}</td>
            <td>{{ item[0]["email"] }}</td>
          </tr>
        </tbody>
      </table> -->
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Title</th>

            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of order_details">
            <td>{{ item.title }}</td>
            <td>{{ item.price | currency }}</td>
            <td>{{ item.quantity }}</td>

            <td>{{ item.quantity * item.price | currency }}</td>
          </tr>
<div class="tot">
          <h6 style="font-weight: bold;">
            Subtotal :{{subtotal | currency}}
          </h6>
          <h6 style="font-weight: bold;">
            Tax :14%
          </h6>
          <h6 style="font-weight: bold;">
            Total :{{0.14*subtotal+subtotal | currency}}
          </h6>
        </div>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
