<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px" class="fas fa-shipping-fast">&nbsp; </i>
      <strong class="logo" style="font-size: 30px" routerLink="products"
        >DARK  <span style="color:red" >ELECTRO</span>    </strong
      >
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          [(ngModel)]="searchTerm"
          (keyup)="search($event)"
          placeholder="search products"
        />
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <div class="navbar-link">
      <a *ngIf="!token" class="nav-item nav-link active" routerLink="login"
        >Sign In</a
      >

      <a *ngIf="!token" class="nav-item nav-link active" routerLink="/signup"
        >Sign Up</a
      >

      <a
        *ngIf="token"
        (click)="signOut()"
        class="nav-item nav-link active"
        href="login"
        >Sign out</a
      >

      <a
        *ngIf="token && role != 1"
        class="nav-item nav-link active"
        routerLink="orders-history"
        >Orders History</a
      >


      <div class="icon">
        <button
          *ngIf="role != 1"
          (click)="checkLogin()"
          routerLink="cart"
          class="btn btn-danger"
          style="background-color: transparent;border: none;"
        >
          <i style="font-size: 30px ;background-color: transparent;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px" class="badge bg-danger">{{ total }}</div>
        </button>
      </div>
    </div>
  </div>
</header>
